header { background: #3679cd url(../images/header-bg-left.png) top right repeat; padding: 0; }
.outer { background: url(../images/header-bg-right.png) top right repeat-y; padding-top: 40px; padding-bottom: 40px; }
header h1 small { font-size: 47%}

@media only screen and (min-width: 768px) {
    header a.button {
        background-color: #3679cd
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px)
header h1, header h2 {
  width: 490px; /* same width for header lines as for content */
}

#sidebar ul { font-weight: normal; padding-left: 0; margin-bottom: 0; margin-top: 0; padding-bottom: 8px; }
#sidebar ul ul { padding-left: 16px;  padding-bottom: 0;}
#sidebar li { list-style-type: none; padding-bottom: 0; }
#sidebar hr { height: 12px; border: 0; margin-bottom: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.2); }
#sidebar h2, h3 { margin-bottom: 1px; margin-top: 3px; font-weight: bold; }
#fallBack { border: 10px solid orange; padding: 5px; }

#main-content ul ul { margin-bottom: 0px; }

figure { display: inline-block; margin-left: 0; margin-top: 0; margin-right: 0.5em; }
figure image, figcaption { display: block; }
figcaption { text-align: center; background-color: #ddd; border-radius: 3px; margin-top: 0.3em; }

pre, code {padding: 2px; margin: 2px; }

.hide { display: none; }
.show { display: block; }
